// Basic settings for an Arduino Board

ARDUINO_VERSION = 100
HARDWARE_NAME = arduino
HARDWARE_LIBRARY_DIR = ${ARDUINO_APP_PATH}/Contents/Resources/Java/libraries
HARDWARE_LIBRARIES = Wire,Wire/utility,EEPROM,Ethernet,Ethernet/utility,SPI,Firmata,LiquidCrystal,SD,SD/utility,Servo,SoftwareSerial,Stepper
